@CHARSET "ISO-8859-1";
div.btn-group {
	display: inline-block;
}
.breadcrumb {
	padding: 8px 15px;
	margin: 0 0 18px;
	list-style: none;
	background-color: #f5f5f5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.breadcrumb li {
display: inline-block;
text-shadow: 0 1px 0 #fff;
}